[submodule "whisper"]
	path = whisper
	url = git@github.com:Raghav-56/whisper.git
[submodule "whisper.cpp"]
	path = whisper.cpp
	url = git@github.com:Raghav-56/whisper.cpp.git
[submodule "NeMo"]
	path = NeMo
	url = git@github.com:Raghav-56/NeMo.git
