[submodule "whisper"]
	path = whisper
	url = git@github.com:LafleurTech/whisper.git
[submodule "NeMo"]
	path = NeMo
	url = git@github.com:LafleurTech/NeMo.git
[submodule "ffmpeg-normalize"]
	path = ffmpeg-normalize
	url = git@github.com:LafleurTech/ffmpeg-normalize.git
[submodule "faster-whisper"]
	path = faster-whisper
	url = git@github.com:LafleurTech/faster-whisper.git
